.footer__column-link {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    transition-property: all;
      transition-duration: .2s;
      transition-timing-function: linear;
      transition-delay: 0;
  }
  
  .footer__column-link:hover {
    opacity: .5;
    color: #517099;
  }