.footer__columns {
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
       justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
  max-width: 90%;
}
